apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  serviceName: {{ .Values.name }}
  replicas: 1
  selector:
    matchLabels: { app.kubernetes.io/name: {{ .Values.name }} }
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Values.name }}
        app.kubernetes.io/part-of: cmtx
    spec:
      containers:
      - name: mongodb
        image: {{ .Values.image }}
        ports: [{ containerPort: {{ .Values.port }} }]
        envFrom:
        - secretRef: { name: {{ .Values.secretName }} }
        volumeMounts:
        - name: data
          mountPath: /var/lib/mongodb/data
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
        resources: {{- toYaml .Values.resources | nindent 10 }}
{{- if not .Values.persistence.enabled }}
      volumes:
      - name: data
        emptyDir: {}
{{- end }}
{{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
  - metadata: { name: data }
    spec:
      accessModes: [ "ReadWriteOnce" ]
{{- if .Values.persistence.storageClass }}
      storageClassName: {{ .Values.persistence.storageClass }}
{{- end }}
      resources:
        requests:
          storage: {{ .Values.persistence.size }}
{{- end }}
